*{
  padding: 0;
  margin: 0;
}
#bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -40;
  pointer-events: all;
  transition: height 300ms ;
}
html{
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth; */
}
main{
  z-index: 40;
  width: 100%;
}
body{
  pointer-events: none;
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: scroll;
}
#log{
  /* background-color: black; */
  color: black;
  font-size: 40px;
  width: fit-content;
  z-index: 20;
}

.htmltimeline  *{
  pointer-events: all;
}
section{
  height: 200vh;
  width: 10vw;
  /* background-color: black; */
  background-color: rgba(240, 248, 255, 0.4);
  /* scroll-snap-align: start;
  scroll-snap-stop: always; */
}

.dg.ac{
  z-index: 30;
  pointer-events: all;
}
/* 
.loader{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  animation: shrink 3s ease-out;
  animation-fill-mode: forwards;
} */

@keyframes shrink {
  0%{
    clip-path: circle(100% at 50% 50%);
  }
  100%{
    clip-path: circle(0% at 50% 50%);
  }
}